= form_tag action: 'create', controller: 'sessions', class: 'form' do
    div.form-group
        = label_tag :email
        br
        .col-sm-4
            = text_field_tag :email, params[:email], class: 'form-control'
    div.form-group
        = label_tag :password
        br
        .col-sm-4
            = password_field_tag :password, value = nil, class: 'form-control'
    .col-sm-10
        = submit_tag 'Log In', class: 'btn btn-primary'
