h3 New Comment

= form_for @comment, url: post_comments_path do |f|
  - if @comment.errors.any?
    div.alert.alert-warning
      h2
        = pluralize(@comment.errors.count, 'error') + ' prohibited this post from being saved:'
      ul
        - @comment.errors.full_messages.each do |msg|
          li = msg

  div.form-group
    = f.label :body
    br
    .col-sm-6
      = f.text_area :body, class: 'form-control'
  .col-sm-10
    = f.submit 'Save', class: 'btn btn-primary'