= form_for :user, html: { class: 'form'}, url: users_path do |f|
  - if @user.errors.any?
    div.alert.alert-warning
      h2
        = pluralize(@user.errors.count, 'error') + ' prohibited this user from being created:'
      ul
        - @user.errors.full_messages.each do |msg|
          li = msg

  div.form-group
    = f.label :email
    br
    .col-sm-4
      = f.text_field :email, class: 'form-control', oninput: 'set_hidden()'
  div.form-group
    =f.label :display_name
    br
    .col-sm-4
      = f.text_field :display_name, class: 'form-control'
  div.form-group
    = f.label :password
    br
    .col-sm-4
      = f.password_field :password,  class: 'form-control'
  div.form-group
    = f.hidden_field :hidden, class: 'form-control'
  .col-sm-10
    = f.submit 'Create', class: 'btn btn-primary'

/ Set a hidden field on input to deter bots maybe
javascript:
  function set_hidden() {
    document.getElementById('user_hidden').value='3';
  }
