h3 Edit your information!

= form_for @user, html: { class: 'form'}, url: user_path do |f|
  - if @user.errors.any?
    div.alert.alert-warning
      h2
        = pluralize(@user.errors.count, 'error') + ' prohibited this user from being created:'
      ul
        - @user.errors.full_messages.each do |msg|
          li = msg

  div.form-group
    =f. label :email
    .col-sm-4
      = f.text_field :email, :readonly => true, class: 'form-control'
  div.form-group
    =f.label :display_name
    .col-sm-4
      = f.text_field :display_name, class: 'form-control'
  .col-sm-10
    = f.submit 'Save', class: 'btn btn-primary'
