div.container
  p
    | This is mainly a website to use ruby/rails and integrate with a Filemaker database. It is
      a blogging platform with support for comments, and requiring registered users for anything that
      involves CRUD. It uses the RFM gem from ginjo for Filemaker interaction and a DIY implementation
      of authentication.

  p
    | Ideally, Filemaker will do exactly nothing besides store data. Any domain/business rules will exist
      in ruby. And so at some point something like the repositories pattern will be implemented to
      make it easy to move to some other database/storage mechanism.