= form_for post do |f|
  - if post.errors.any?
    div.error_explanation
      h2
        = pluralize(post.errors.count, "error") + " prohibited this post from being saved:"
      ul
        - post.errors.full_messages.each do |msg|
          li = msg

  div.form-group
    = f.label :title
    br
    .col-sm-6
      = f.text_field :title, class: 'form-control'
  div.form-group
    = f.label :body
    br
    .col-sm-6
      = f.text_area :body, class: 'form-control'
  .col-sm-10
    = f.submit 'asdf', class: 'btn btn-primary'
