table.table
  thead
    tr
      th Title
      th Poster
      th Post Time
  tbody
    - @posts.each do |post|
      tr
        td == link_to post.title, post_path(:id => post.id)
        - if post.display_name
          td = post.display_name
        - else
          td
        - if post.creation_time
          td = format_date(post.creation_time)
== link_to 'New Post', new_post_path, :class => 'btn btn-primary'
