h3 New Post

= form_for @post, url: posts_path do |f|
  - if @post.errors.any?
    div.alert.alert-warning
      h2
        = pluralize(@post.errors.count, "error") + " prohibited this post from being saved:"
      ul
        - @post.errors.full_messages.each do |msg|
          li = msg

  div.form-group
    = f.label :title
    br
    .col-sm-8
      = f.text_field :title, class: 'form-control'
  div.form-group
    = f.label :body
    br
    .col-sm-8
      = f.text_area :body, class: 'form-control'
  .col-sm-10
    = f.submit 'Save', class: 'btn btn-primary'
