div.card
  h3.card-header
    = @post.title
    .float-right.h5
      = format_date(@post.creation_time)
  div.card-block
    h6.card-subtitle.mb-2.text-muted
      | By:
      = @post.display_name
    p.card-text
      = simple_format(@post.body)
    - if current_user && current_user.id == @post.id_user
      br
      .btn-toolbar
        == link_to 'Edit', edit_post_path(@post), :class => 'btn btn-info'
        == link_to 'Delete', post_path(@post), data: {:confirm => 'Are you sure?' }, :method => :delete, :class => 'btn btn-primary'
br
- if current_user
  == link_to 'Add Comment', new_post_comment_path(:post_id => @post.id), :class => 'btn btn-primary'
br
- if @post.comments.any?
  div.row.justify-content-center
    div.col-8
      h3 Comments
      - @post.comments.each do |comment|
        div.card
          div.card-block
            p.card-text
              = simple_format(comment.body)
          div.card-footer
            | By:
            = comment.display_name
            .float-right
              = format_date(comment.creation_time)
        br