nav.navbar.navbar-toggleable-md.navbar-light.navbar-inverse.bg-inverse
  div.container
    button.navbar-toggler.navbar-toggler-right type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'
      span.navbar-toggler-icon
    a = link_to 'railsBLog!', root_path, class: 'navbar-brand'
    div#navbar.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a = link_to 'Home', root_path, class: 'nav-link'
        li.nav-item
          a = link_to 'Posts', posts_path, class: 'nav-link'
        li.nav-item
          a.nav-link href='https://bitbucket.org/gitmag/fm_blog' Source
      ul.navbar-nav.navbar-right
        - if current_user
          li.nav-item
            a = link_to 'Edit Account', edit_user_path(current_user.id), class: 'nav-link'
          li.nav-item
            a = link_to 'Logout', log_out_path, class: 'nav-link'
        - else
          li.nav-item
            a = link_to 'Sign Up', sign_up_path, class: 'nav-link'
          li.nav-item
            a = link_to 'Login', log_in_path, class: 'nav-link'
