doctype html
html
  head
      title Rails blogging!
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      = csrf_meta_tags
  body
    = render 'layouts/navbar'

    div.container
      - if flash[:notice]
        .alert.alert-warning
          = flash[:notice]
      == yield
